[Unit]

[Service]
EnvironmentFile=/home/client/django/.env
WorkingDirectory=/home/client/django

ExecStart=/home/client/django/.venv/bin/gunicorn --reload -c gunicorn.py project.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
